.App {
  text-align: center;
}

html body {
  background: url('../img/BG Left.jpg') left repeat-y, url('../img/BG Right.jpg') right repeat-y;
}

button {
  width: auto;
  padding: 10px 18px;
  background-color: #282c34;
  color: white;
}

.alert-img{
  height: 20px;
  margin-right: 3px;
}