#header {
    background: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight:350;
    color: white;
    height: 60px;
    filter: drop-shadow(0px 2px 4px rgba(0,0,0, .25));
    z-index: 15;
}

#header-top-shadow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background:white;
    filter: drop-shadow(0px 2px 6px rgba(0,0,0, 1));
}

.header-element{
    color: lightgray;
    margin: 0 20px;
}

.header-element:hover{
    text-decoration: none;
}

.header-element:hover:not(.header-element-current-page) {
    color: white;
}


.header-element-current-page:hover {
    color: white;
}

.header-element-current-page {
    color: White;
    text-shadow: 0 0 10px lightgray;
}

#navbar-user-widget{
    max-width: 20vw;
    text-overflow: ellipsis;
    position: absolute;
    right: 15px;
    font-size: 20px;
    display: inline-block;
    text-align: right;
    height: 60px;

}

#logo{
    position: absolute;
    left:10px;
    top: 7px;
    height: 50px;
}