.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: black;
}

.modal {
    position: relative;
    z-index: 101 !important;
    font-size: 18px;
    transition: opacity 300ms  ease, transform 300ms ease;
    display: block;
    background: url('../img/BG Left.jpg') left repeat-y, url('../img/BG Right.jpg') right repeat-y, white;
    background-size: 20%;
    top: 12px;
    left: 12px;
    height: 100%;
    width: 100%;
    padding: 25px;
    pointer-events: all;
    filter: drop-shadow(0px 1px 2px rgba(0,0,0,.5));
    border: #282c34 2px solid;
}

.modal-container{
    transition: opacity 300ms  ease, transform 300ms ease;
    display: block;

}


.alert-button-container{
    display: inline-block;
    text-align: right;
    width: 100%;
}

.alert-content{
    text-align: center;
    margin: 15px 15px 25px 15px;
    padding: 0 10px;
    font-size: 18px;
}

.alert-button{
    width: auto;
    padding: 6px 25px;
    background-color: #282c34;
    color: white;
    margin-left: 10px;
    font-size: 16px;
}


/** ANIMATIONS FOR MODALS */
.animate-enter {
    opacity: 0;
    transform: translatey(0);
    display: block;
}
.animate-enter-active {
    opacity: 1;
    transform: translatey(25px);
    display: block;
}
.animate-exit {
    opacity: 1;
    transform: translatey(25px);
    display: block;
}
.animate-exit-active {
    opacity: 0;
    transform: translatey(0);
    display: block;
}

.animate-enter-done{
    opacity: 1;
    transform: translatey(25px);
    display: block;
}
/** END OF ANIMATIONS FOR MODALS */